$cubicTransition: cubic-bezier(.25, .8, .25, 1);

.title {
    font-size: 4.166vw;
    display: inline;
    align-items: center;
    position: relative;

    opacity: 0.4;
    transition: opacity 2s $cubicTransition;

    &::before {
        position: absolute;
        border-bottom: 2.083vw solid $lightGold;
        opacity: 0.6;
        z-index: -1;
        border-radius: 0.326vw;
        top: 3.6458vw;
        content: '';
    
        width: 1vw;
        transition: all 0.6s $cubicTransition;
    }

    &::after {
        margin-left: 2.083vw;
        position: absolute;
        border-bottom: 0.3906vw solid $offWhite;
        border-radius: 0.1302vw;
        content: '';
        top: 3.255vw;
    
        width: 1vw;
        transition: all 0.6s $cubicTransition;
        transition-delay: 0.2s;
    }
}

.active > .title {
    opacity: 1;

    &::before {
        width: 85%;
    }

    &::after {
        width: 19.531vw;
    }
}