@import "colours";

$cubicTransition: cubic-bezier(.25, .8, .25, 1);

.aboutMe {
    margin-bottom: 12vw;

    & .content {
        display: flex;


        transition: opacity 2s $cubicTransition;
        transition-delay: 0.2s;
        opacity: 0;

        & .bio {
            font-size:  1.43229vw;
            font-weight: lighter;
            flex: 1;

            & .highlight {
                color: $lightGold;
                font-weight: bold;
            }
        }

        & .imageContent {
            flex: 1;

            & img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 36.653vw;
                border: 0.9765vw solid $lightGrey;
                border-radius: 1.6276vw;
            }

            & .otherSources {
                margin-top: 2vw;
                text-align: center;
                position: relative;

                & a {
                    font-size: 1.6276vw;
                    text-decoration: none;
                    color: $offWhite;
                }

                & a::before {
                    position: absolute;
                    border-bottom: 1.2vw solid $lightGold;
                    opacity: 0.6;
                    z-index: -1;
                    border-radius: 0.226vw;
                    top: 1.25vw;
                    content: '';

                    width: .2vw;
                    transition: all 0.6s $cubicTransition;
                }

                & a:hover::before {
                    width: 4vw;
                }

                & :not(:first-child){
                    margin-left: 2vw;
                }
            }
        }
    }
}

.aboutMe.inView {
    & .content {
        opacity: 1;
    }
}