@import "colours";

.landing {
    display: flex;
    margin-bottom: 24vw;
}


.fadeIn {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    }

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/*Welcome Message*/
.welcomeMsg {
    margin-top: 15.625vw;
    flex: 2;

    & h1 {
        margin: 0;

        line-height: 4.166vw;
        font-weight: lighter;
        font-size: 3.5vw;
    }
}

.rotatingWord {
    display: inline;

    & span {
        color: #CBB687;
        margin-left: 1.0416vw;
        font-size: 4.25vw;
        font-weight: bold;
        text-align: center;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        animation: cycleThroughWords 12s ease-in-out infinite 0s;
    }
}

/*Cycling Words Animation*/
.rotatingWord span:nth-child(2) {
    animation-delay: 4s;
}

.rotatingWord span:nth-child(3) {
    animation-delay: 8s;
}

/*Keyframes*/
@keyframes cycleThroughWords {
    0% {
        opacity: 1;
        animation-timing-function: ease-in;
        height: 0;
    }
    8% {
        opacity: 1;
        height: 60px;
    }
    19% {
        opacity: 1;
        height: 60px;
    }
	25% {
        opacity: 0;
        height: 30px;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

/*Logo Section*/
.landingLogo {
    flex: 1;
    margin-right: -6.7708vw;
    & .rect {
        margin-right: -2.083vw;
        margin-top: -2.083vw;
        border-radius: 3.255vw;
        width: 37.43vw;
        height: 29.296vw;
        -webkit-transform: rotate(-13deg);
        transform: rotate(-13deg);
        background-color: $lightGrey;
    }

    & .logo {
        position: relative;
        margin-top: 6.6482vh;
        margin-right: 3.125vw;
        float: right;
        width: 14.648vw;
        z-index: 1;
    }
}