@import "colours";

.projects {
    opacity: 0;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);

    & .cell {
        min-height: 5.338vw;
        width: 69.8568vw;
        margin: 1.6276vw auto;
        border: 0.195vw solid #F5F5EF;
        box-sizing: border-box;
        border-radius: 0.651vw;
        display: inline-flex;
    }
}

.active > .projects {
    opacity: 1;
}